body {
  background-color: #000;
  background-image: linear-gradient(to bottom right, #262625, #000);
  color: #eee;
  font-family: Helvetica, Arial, sans-serif, serif;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

a {
  color: rgb(229, 223, 232);
  font-size: 100%;
}

h1 img {
  vertical-align: middle;
}

h1 span {
  margin-left: 10px;
  vertical-align: middle;
}

#contents {
  font-size: 14px;
}

#contents #note {
  color: hsl(0 170% 70% / 1);
  font-style: italic;
}

#contents dl dt {
  font-weight: bold;
}

#contents dl dd {
  margin-left: 0;
}

#contents dl dd p {
  background-color: #3e2d2d;
  border-radius: 6px;
  padding: 10px 20px;
}

#contents dl dd p input {
  vertical-align: middle;
}

#contents dl dd p a {
  margin-left: 5px;
  vertical-align: middle;
}

#footer {
  font-size: 14px;
}

#footer #actions {
  text-align: center;
}

#footer #actions button {
  padding: 6px 12px;
  text-transform: uppercase;
}

#footer #copyright {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  text-align: right;
}

#footer #copyright #author {
  margin-bottom: 0;
}

#footer #copyright #author-text {
  font-weight: bold;
}

#footer #copyright #vote {
  margin-bottom: 60px;
  margin-top: 4px;
}