body {
  background-image: linear-gradient(to bottom right, #262625, #000);
  color: #eee;
  font-family: Helvetica, Arial, sans-serif, serif;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

a {
  color: rgb(229, 223, 232);
}

h1 img {
  vertical-align: middle;
}

h1 span {
  margin-left: 10px;
  vertical-align: middle;
}

#contents {
  font-size: 14px;
}

#contents #note {
  color: hsl(0 170% 70% / 1);
  font-style: italic;
}

#contents ul {
  list-style-type: none;
  padding-left: 0;
}

#contents ul li {
  background-color: #3e2d2d;
  border-radius: 6px;
  margin-bottom: 8px;
  padding: 6px 8px;
}

#contents ul li:hover {
  background-color: #553931;
}

#contents ul input {
  vertical-align: top;
}

#contents ul label {
  margin-left: 4px;
}

#contents ul label span {
  vertical-align: top;
}

#contents ul label div {
  display: inline-block;
  margin-left: 7px;
  width: 90%;
}

#contents ul label div .title {
  display: block;
  font-weight: bold;
}

#contents ul label div .description {
  font-style: italic;
}

#footer {
  font-size: 14px;
}

#footer #actions {
  text-align: center;
}

#footer #actions button {
  padding: 6px 12px;
  text-transform: uppercase;
}

#footer #copyright {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  text-align: right;
}

#footer #copyright #author {
  margin-bottom: 0;
}

#footer #copyright #author-text {
  font-weight: bold;
}

#footer #copyright #vote {
  margin-bottom: 60px;
  margin-top: 4px;
}